h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  html, body, .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .closeButton{
      float: right;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.603);
  }
  .popup_inner {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background: white;
    overflow: scroll;
  }

  th, td, p, input {
    font:14px Verdana;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}